@page
@model IndexModel
@{
    ViewData["Title"] = "LogicLearn";
}

<section>
    <div class="title">
        <h1>
            LogicLearn
        </h1>
        <h4>
            Estudia de los mejores <br>
                    profesores <br>
                    aquí en logicLearn
        </h4>

        <a class="btn btn-info" asp-page="/Servicios" role="button">Ver más</a>
    </div>
</section>